<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="post_number" xsi:type="string">sales_order.post_number</item>
                <item name="vat_number" xsi:type="string">sales_order.vat_number</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_custom_field_to_quote_table" type="Khodal\CheckoutCustomField\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1" />
    </type>
</config>