<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="khodal" translate="label" sortOrder="10">
            <label>Khodal</label>
        </tab>
        <section id="checkout_custom_field" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Custom Field</label>
            <tab>khodal</tab>
            <resource>Khodal_CheckoutCustomField::config_checkout_custom_field</resource>
            <group id="about" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <frontend_model>Khodal\CheckoutCustomField\Block\Adminhtml\System\Config\Info</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable_custom_field" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Checkout Custom Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="post_number" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Post Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_custom_field">1</field>
                    </depends>
                </field>
                <field id="vat_number" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Account Vat Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_custom_field">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
